@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    /* font-weight: 500; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    height: 12vh;
    opacity: 0.5;
    /* position: fixed; */
}

.logo{
    width: 20vh;
}

.nav-menu{
    display: flex;
    gap: 3rem;
}

a{
    transition: all 0.5s;
    font-weight: 600;
    color: white;
}

a:hover{
    /* color: rgb(77, 77, 77); */
    color: chocolate;
}

.carousel{
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.9) 95%), url('../imgs/1128335.jpg');
    background-size: 140%;
    background-position: center;
}

.carousel-text{
    width: 50%;
    color: white;
}

h2{
    font-size: 3rem;
    font-weight: 800;
}